@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

ul{
    display: inline-block;
    list-style: none;
    margin-top: 50px;
}
li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    font-size: 40px;
}
a{
    border-radius: 50%;
    padding: 30px;
    color: black;
    background-color: rgb(214, 212, 212); 
}
.fa-square-facebook:hover{
    color: rgb(55, 23, 231);
}
.fa-twitter:hover{
    color: rgb(23, 165, 231);
}
.fa-google-plus:hover{
    color: red;
}
.fa-linkedin:hover{
    color: rgb(12, 177, 228);
}
.fa-instagram:hover{
    color: rgb(31, 207, 198);
}