@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

:root{
    --clr-purple: #720B6C;
    --clr-bg: #ececec;
    --clr-text: black;
}
body{
    padding: 15px 100px;
    background-color: var(--clr-bg);
}
/* header */
header{
    margin-bottom: 100px;
}
.logo{
    display: inline-block;
}
h1{
    color: var(--clr-purple);
    font-size: 40px;
}
 nav, nav li {
    display: inline-block;
}
nav{
    float: right;
    padding: 30px 60px;
}
nav li{
    padding-left: 30px;
}
a{
    text-decoration: none;
    color: var(--clr-text);
}

/* Need a website? */
.website{
    display: flex;
    gap: 30px;
    padding: 0 130px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.website__title{
    font-size: 40px;
    margin-bottom: 15px;
}
.website__p{
    margin-bottom: 15px;
}
.website button{
    padding: 5px;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.website__text{
    flex-basis: 50%;
}

.website #globe{
    width: 150px;
    flex-basis: 10%;
    padding: 0 50px;
}

#our-team__title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
hr{
    width: 80px;
    border: 1px solid black;
    margin-bottom: 30px;
}

/* Cards */
.our-team{
    width: 25%;
    margin: 40px;
}
.card #person-pic{
    border-radius: 50%;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.card #name{
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.card #position{
    text-align: center;
    margin-bottom: 20px;
}
.card #desc{
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.2;
}

.team-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Newsletter */
.newsletter{
    height: 150px;
    background-color: var(--clr-purple);
    margin-bottom: 40px;
}
.newsletter .newsletter__title{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}
.newsletter .membership{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: auto;
    width: 50%;
}

/* Testimonials... */
/* ...same as Cards */

/* line-footer */
.line-footer{
    width: 100%;
    border: 1px solid var(--clr-bg);
    box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.52);
    -webkit-box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.52);

}

/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purple-spider{
    width: 25%;
}
#purple-spider__name{
    font-size: 32px;
    padding: 10px 0;
}
#purple-spider__desc{
    padding: 10px 0;
}

.sitemap{
    width: 30%;
}
.sitemap #sitemap__name{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}
.sitemap #sitemap__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    height: 80px;
}

.contacts #contacts__name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.phone p, .mail p, .hours p, .address p{
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 5px;
}

