html{
    font-family: Helvetica, sans-serif;
}
nav{
    padding-top: 50px;
    padding-bottom: 10px;
    display: inline-block;
}
div{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding-right: 50px;

}
ul, li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: rgb(2, 151, 2);
    display: inline-block;
    padding-left: 8px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
p{
    line-height: 1.4;
}